<% if current_user %>
  <%= current_user["username"] %>
<% end %>

<section>
  <h2 class="block_me">The Wikinian</h2>
  <h3><%= @catch_phrase %></h3>
  <br />
  <p>
    <% @desc.each do |par| %>
      <%= par %>
    <% end %>
  </p>
  <br />
  <p>
    <% @desc2.each do |par2| %>
      <%= par2 %>
    <% end %>
  </p>
</section>

