<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Wikinian</title>
  <link rel="icon" type="image/png" href="/img/tw_favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">
    <div class="header clearfix">
      <a href="/" class="logo"></a>
      <ul class="main_navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/abouttw">About TW</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/colleagues">TW Members</a></li>
        <li><a href="/articles">Articles</a></li>
      </ul>
    </div>
    <%= yield %>
    <div class="footer clearfix">
      <p>&copy; 2016 The Wikinian, Inc.</p>
      <ul class="footer_navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/abouttw">About TW</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/colleagues">TW Members</a></li>
        <li><a href="/articles">Articles</a></li>
      </ul>
      </ul>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>
