<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col"><h1>Oh, that crazy Faker!</h1></div>
</div>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <h2>So... what's Faker anyway?</h2>
    <p>
    The <a href="https://github.com/stympy/faker">Faker</a>
    <span id="gemtt">gem</span>
    <span class="mdl-tooltip mdl-tooltip--large mdl-tooltip--right" for="gemtt">
      From RubyGems.org: "The software package is called a “gem” and contains a package Ruby application or library. Gems can be used to extend or modify functionality in Ruby applications. Commonly they’re used to distribute reusable functionality that is shared with other Rubyists for use in their applications and libraries.
    </span> from
    <a href="http://www.bencurtis.com/">Ben Curtis</a> is a joy to work
    with. Super straight forward, great documentation, and the
    ramdomly-generated data is a riot!<br/>
    I put together a sample blog that has blog posts of random
    paragraphs that come from Faker's Hacker, Star Wars, and Hipster
    constants.<br/>
    I hope you enjoy reading all the blog posts as much as I did.
    </p>
    <p>Btw, you can <%= link_to "generate your own addition", "posts#newPost" %>
    to the Faker posts if you're feeling the <em>hipster</em>, <em>hacker</em>, or
    <em>Star Wars</em> vibe!</p>
    <em>Meke</em>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>

